In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

In [11]:
#Top 100 de Restaurantes mejor evaluados según el sitio web www.restaurantbusinessonline.com
df = pd.read_csv('Restaurant-Dataset/Independence100.csv')
df.head(5)

,Rank,Restaurant,Sales,Average Check,City,State,Meals Served
0,1,Carmine's (Times Square),39080335.0,40,New York,N.Y.,469803.0
1,2,The Boathouse Orlando,35218364.0,43,Orlando,Fla.,820819.0
2,3,Old Ebbitt Grill,29104017.0,33,Washington,D.C.,892830.0
3,4,LAVO Italian Restaurant & Nightclub,26916180.0,90,New York,N.Y.,198500.0
4,5,Bryant Park Grill & Cafe,26900000.0,62,New York,N.Y.,403000.0

In [12]:
#Promedio de ventas anuales 2020 de restaurantes independientes
df['Sales'].mean()

17833434.32

In [13]:
#Promedio de ventas anuales 2020 de restaurantes independientes
df['Meals Served'].median()

257097.0

In [14]:
#Media Truncada de Ventas anuales 2020 de restaurantes independientes
mt = stats.trim_mean(df['Sales'], 0.1)
mt

17254433.9375

In [15]:
#Promedio de ventas anuales 2020 de restaurantes independientes y la distancia entre la media truncada
p = abs(df['Sales'].mean() - mt)

In [17]:
#Mediana de ventas anuales 2020 de restaurantes independientes y la distancia entre la media truncada
m = abs(df['Sales'].median() - mt)

In [18]:
#Calculo de distancias para indenticar la mediana o promedio más cercano de ventas anuales 2020 de restaurantes independientes

print("Ventas Promedio: " + str(p))
print("Distancia mediana: "   + str(m))

if (p > m):
    print("La mediana es más cercana")
else:
    print("El promedio es más cercano")

Ventas Promedio: 579000.3825000003
Distancia mediana: 46341.5625
La mediana es más cercana

In [19]:
#Media Truncada de Platillos Vendidos 2020 de restaurantes independientes
mt = stats.trim_mean(df['Meals Served'], 0.1)
mt

282980.275

In [21]:
#Promedio de platillos vendidos 2020 y la distancia entre la media truncada
p = abs(df['Meals Served'].mean() - mt)

In [23]:
#Mediana de ventas anuales 2020 de platillos vendidos y la distancia entre la media truncada
m = abs(df['Meals Served'].median() - mt)

In [25]:
#Calculo de distancias para indenticar la mediana o promedio más cercano de ventas anuales 2020 de restaurantes independientes
print("Platillos Vendidos " + str(p))
print("Distancia mediana: "   + str(m))

if (p > m):
    print("La mediana es más cercana")
else:
    print("El promedio es más cercano")

Platillos Vendidos 34186.38499999995
Distancia mediana: 25883.275000000023
La mediana es más cercana

In [27]:
#Desviación estándar Ventas anuales 2020
df['Sales'].std()

5010408.0280149905

In [32]:
#Desviación estándar de Platillos Vendidos 2020
df['Meals Served'].std()

192211.39001090344

In [33]:
#Ventas Máximas . Ventas Mínimas anuales 2020 de restaurantes independientes 
df['Sales'].max() - df['Sales'].min()

27688657.0

In [34]:
#Percentil del  80%
df['Sales'].quantile(0.8)

22224401.0

In [35]:
print(f'Valor mínimo: {df["Sales"].min()}')
print(f'Percentil 0: {df["Sales"].quantile(0)}')
print(f'Percentil 10: {df["Sales"].quantile(0.1)}')
print(f'Percentil 25: {df["Sales"].quantile(0.25)}')
print(f'Percentil 50: {df["Sales"].median()}')
print(f'Mediana: {df["Sales"].quantile(0.5)}')
print(f'Percentil 75: {df["Sales"].quantile(0.75)}')
print(f'Percentil 90: {df["Sales"].quantile(0.9)}')
print(f'Percentil 100: {df["Sales"].quantile(1)}')
print(f'Valor máximo: {df["Sales"].max()}')

Valor mínimo: 11391678.0
Percentil 0: 11391678.0
Percentil 10: 12504480.0
Percentil 25: 14094835.75
Percentil 50: 17300775.5
Mediana: 17300775.5
Percentil 75: 19903916.0
Percentil 90: 24291444.0
Percentil 100: 39080335.0
Valor máximo: 39080335.0