In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('../Restaurant-Dataset/Independence100.csv',index_col=0)
df

,Restaurant,Sales,Average Check,City,State,Meals Served
Rank,,,,,,
1,Carmine's (Times Square),39080335.0,40,New York,N.Y.,469803.0
2,The Boathouse Orlando,35218364.0,43,Orlando,Fla.,820819.0
3,Old Ebbitt Grill,29104017.0,33,Washington,D.C.,892830.0
4,LAVO Italian Restaurant & Nightclub,26916180.0,90,New York,N.Y.,198500.0
5,Bryant Park Grill & Cafe,26900000.0,62,New York,N.Y.,403000.0
...,...,...,...,...,...,...
96,George's at the Cove,12194000.0,80,La Jolla,Calif.,250000.0
97,Le Coucou,12187523.0,95,New York,N.Y.,87070.0
98,Mi Vida,12032014.0,38,Washington,D.C.,226226.0
99,Upland,11965564.0,52,New York,N.Y.,171825.0
100,Virgil's Real Barbecue,11391678.0,27,Las Vegas,Nev.,208276.0

In [6]:
df["State"].unique()

array(['N.Y.', 'Fla.', 'D.C.', 'Ill.', 'Nev.', 'N.C.', 'Ind.', 'Texas',
       'Pa.', 'Calif.', 'Ga.', 'Mich.', 'Mass.', 'Ore.', 'N.J.', 'Fla. ',
       'Tenn.', 'Colo.', 'Va.'], dtype=object)

In [ ]:
fig = plt.figure()
ax = fig.add_subplot()

ax.set_title('Ubicación de crímenes', pad=15)
ax.set_xlabel('latitud')
ax.set_ylabel('longitud')

sns.scatterplot(df['latitud'], df['longitud'], ax=ax);